 
    @max_width: none;   
    @gutter: 20px;      

    @wp_1: 768px;
@wp_2: 360px;
@wp_3: 320px;
@import "defaults.less";
@import "jqm-hidden-button-widget.less";
@import "styles/d-margins -- margins.less";
@import "receptacle-alignment.less";
@import "styles/dm -- custom.less";
@import "styles/titleText -- text_para.less";
@import "styles/buttonText -- text.less";
@import "styles/QuestionText -- text_para.less";
@import "jqm-outer-margin.less";
@import "styles/noButtonSelectedErrorText -- show-hide.less";
@import "styles/errorText -- text_para.less";
@import "uib_row_1.less";
@import "styles/grid-pad -- padding.less";
@import "styles/row-height-1 -- row_height.less";
@import "styles/row1Shadow -- shadow.less";
@import "uib_row_2.less";
@import "styles/row-height-2 -- row_height.less";
@import "uib_row_3.less";
@import "styles/row-height-3 -- row_height.less";
@import "jqm-label-position.less";